<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anucara</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />

    <!-- ===== Style CSS ===== -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/project.css" />
    <link rel="stylesheet" href="../css/contact.css" />

    <!-- ===== Boxicons CSS===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />

    <!-- ===== AOS ===== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav>
        <div class="navbar">
          <img class="image" src="../img/logo anucarapt.png" alt="logo anucara" />
          <div class="nav-links active">
            <ul class="links">
              <li>
                <a href="../index.html#home" class="boxa">Home</a>
              </li>
              <li>
                <a href="../index.html#aboutus" class="boxa">About Us</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu">
                  <li>
                    <a href="teamprofile.html">Team Profile</a>
                  </li>
                  <li>
                    <a href="activity.html">Activity</a>
                  </li>
                  <li>
                    <a href="testimony.html">Testimony</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="../index.html#ourservice" class="boxa">Our Service</a>
                <i class="bx bx-chevron-down arrow js-arrow"></i>
                <ul class="js-sub-menu sub-menu boxaa">
                  <li class="more">
                    <a href="#">Project Management Plan</a>
                    <br />
                    <i class="bx bx-chevron-right arrow more-arrow"></i>
                    <ul class="more-sub-menu sub-menu">
                      <li><a href="#">2D Layout</a></li>
                      <li><a href="#">3D Layout</a></li>
                      <li><a href="#">Industrial Galery</a></li>
                      <li><a href="budgetingplan.html">Budgeting Plan</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Building Construction</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#portofolio" class="boxa">Portofolio</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu menu3">
                  <li>
                    <a href="allportofolio.html">All Portofolio</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contact.html" class="boxa">Contact</a>
              </li>
            </ul>
          </div>
          <label for="menu-toggle">
            <div class="hamburger-menu" id="hamburger-menu">
              <h2 class="logo-name">Menu</h2>
              <div class="bar"></div>
            </div>
          </label>
          <div class="nav__mobile" id="navId">
            <div class="nav__menu">
              <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Home</a></li>
                <li class="nav__item dropdown">
                  <a href="../index.html#aboutus" class="nav__link">About </a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item"><a href="../menu/teamprofile.html" class="nav__link">Team Profile</a></li>
                    <li class="dropdown__item"><a href="../menu/activity.html" class="nav__link">Activity</a></li>
                    <li class="dropdown__item"><a href="../menu/testimony.html" class="nav__link">Testimony</a></li>
                  </ul>
                </li>
                <li class="nav__item dropdown">
                  <a href="../index.html#ourservice" class="nav__link">Our Service </a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item dropdown">
                      <a class="nav__link">Project Management Plan</a>
                      <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                      <ul class="dropdown__menu" style="margin-bottom: 10px">
                        <li class="dropdown__item"><a href="" class="nav__link">2D Layout</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">3D Layout</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">Industrial Gallery</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">Budgeting Plan</a></li>
                      </ul>
                    </li>
                    <li class="dropdown__item"><a href="" class="nav__link">Building Construction</a></li>
                  </ul>
                </li>
                <li class="nav__item dropdown">
                  <a class="nav__link">Portofolio </a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item"><a href="../menu/allportofolio.html" class="nav__link">All Portofolio</a></li>
                  </ul>
                </li>

                <li class="nav__item"><a href="../menu/contact.html" class="nav__link">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <input type="checkbox" name="menu-toggle" id="menu-toggle" style="display: none" />
        </div>
      </nav>
    </header>
    <!-- End Header -->

    <div class="container-porto">
      <div class="img-change">
        <div class="img-anucara">
          <img src="../img/logo anucarapt.png" class="porto-anucara-img" />
        </div>
      </div>
    </div>

    <div class="jarak"></div>

    <div class="container-swiper">
      <h1>PROJECTS</h1>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- loop -->
          <div class="card swiper-slide">
            <img src="../img/img2.png" class="image-card" />
            <div class="card-body">
              <h5 class="title-card"></h5>
              <hr />
              <p class="text-card"></p>
            </div>
          </div>
          <!-- akhir loop -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>

    <div class="consult">
      <div id="consultPopup" class="consult-popup">
        <h3>Consult & Order</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="admin-list">
          <div class="admin">
            <img src="" />
            <span>Jordan</span>
          </div>
        </div>
        <a id="wa" href="https://wa.me/6282126815627"><i class="fab fa-whatsapp"></i> Chat Via WhatsApp</a>
        <a id="now" href=""><i class="far fa-envelope"></i> Order Now</a>
        <div class="qr-code">
          <p>WhatsApp QR Code:</p>
          <img src="" />
        </div>
        <button id="close"><i class="fas fa-times"></i></button>
      </div>
      <div id="consultBtn" class="consult-btn">
        <i class="fab fa-whatsapp"></i>
        <p>ASK ME !</p>
      </div>
    </div>

    <div class="jarak-cons"></div>

    <section class="consult-footer">
      <h1 class="judul">CONSULTATION WITH OUR CS</h1>
      <main>
        <div class="contact">
          <ul class="contact-icon">
            <li>
              <a href="https://wa.me/6282126815627?&text=Hallo%20"
                ><i class="fab fa-whatsapp"> <span>+62 821-2681-5627</span></i></a
              >
            </li>
            <li>
              <a href="mailto:anucaradesignandbuild@gmail.com"
                ><i class="fas fa-envelope"> <span>anucaradesignandbuild@gmail.com</span></i></a
              >
            </li>
          </ul>
          <div class="email-container">
            <div class="section-email">
              <p>Fast Respon via WA</p>
              <p>Work Time : Monday - Friday 09.00 - 17.00 WIB, Saturday & Sunday 09.00 - 20.00 WIB</p>
            </div>
          </div>
        </div>
      </main>
    </section>

    <section class="footer">
      <div class="content">
        <div class="top">
          <div class="logo-details"></div>
          <div class="media-icons">
            <a href="https://www.facebook.com/profile.php?id=100086564315471 ">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="# "><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/anucara.designandbuild/?igshid=YmMyMTA2M2Y%3D ">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/anucara-design-and-build-3a9982252">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="# "><i class="fab fa-youtube"></i> </a>
            <a href="https://www.tiktok.com/@anucara.design.and.build"><i class="fab fa-tiktok"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Anucara</li>
            <li><a href="../index.html#home">Home</a></li>
            <li><a href="../index.html#aboutus">About us</a></li>
            <li><a href="../index.html#ourservice ">Our Service</a></li>
            <li><a href="#portofolio">Portofolio</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">About Us</li>
            <li><a href="teamprofile.html">Team Profile</a></li>
            <li><a href="activity.html">Activity</a></li>
            <li><a href="testimony.html">Testimony</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Our Service</li>
            <li><a href="">Project Management Plan</a></li>
            <li><a href="">Building Construction</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Portofolio</li>
            <li><a href="allportofolio.html">All Portofolio</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li class="fas fa-envelope"><a href="mailto:anucaradesignandbuild@gmail.com ">anucaradesignandbuild@gmail.com</a></li>
            <li class="fab fa-whatsapp"><a href="https://wa.me/6282126815627?&text=Hallo%20">+62 821-2681-5627</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text"
            >Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            <span> Anucara</span></span
          >
          <span class="policy_terms">
            <a href="# ">Privacy policy</a>
            <a href="# ">Terms & condition</a>
          </span>
        </div>
      </div>
    </section>

    <!-- End Footer -->

    <!-- ===== Fontawesome ===== -->
    <script src="https://kit.fontawesome.com/6b15f87bf3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
      $.ajax({
        type: 'GET',
        url: 'http://localhost:3000/projects',
        data: {},
        success: function (result) {
          result.forEach((e) => {
            const ada = $('.swiper-wrapper').append(`
            <div class="card swiper-slide">
              <input type="hidden" name="trigger loop" value="${e}" />
              <img src="../../${e.gambar_project}"  />
              <div class="card-body">
                <h5 class="title-card">${e.judul_project}</h5>
                <hr />
                <p class="text-card">${e.desc_project}</p>
              </div>
            </div>
      `);
          });
        },
      });
    </script>
    <script src="../js/main.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
