<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anucara</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />

    <!-- ===== Style CSS ===== -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/contact.css" />
    <link rel="stylesheet" href="../css/testimony.css" />

    <!-- ===== Fontawesome ===== -->
    <script src="https://kit.fontawesome.com/6b15f87bf3.js" crossorigin="anonymous"></script>

    <!-- ===== Boxicons CSS===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <header>
    <nav>
      <div class="navbar">
        <img class="image" src="img/logo anucarapt.png" alt="logo anucara" />
        <div class="nav-links active">
          <ul class="links">
            <li>
              <a href="/" class="boxa">Home</a>
            </li>
            <li>
              <a href="/#aboutus" class="is-active">About Us</a>
              <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li>
                  <a href="/testimony">Client Testimony</a>
                </li>
                <li>
                  <a href="/teamprofile">Team Profile</a>
                </li>
                <li>
                  <a href="/activity">CSR Activity</a>
                </li>
                <li>
                  <a href="/compro">Legal & Company Profile</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#ourservice" class="boxa">Our Service</a>
              <i class="bx bx-chevron-down arrow js-arrow"></i>
              <ul class="js-sub-menu sub-menu boxaa">
                <li class="more">
                  <a href="#">Concept, Design and Analize</a>
                  <br />
                  <i class="bx bx-chevron-right arrow more-arrow"></i>
                  <ul class="more-sub-menu sub-menu">
                    <li><a href="/2Dlayout">2D Layout</a></li>
                    <li><a href="/3Drender">3D Render</a></li>
                    <li><a href="/budgeting">Budgeting</a></li>
                    <!-- <li class="more-sub">
                      <a href="#">Master Plan</a>
                      <i class="bx bx-chevron-right arrow more-more-arrow"></i>
                      <ul class="more-sub-menu-inside sub-menu-inside">
                      </ul>
                    </li> -->
                  </ul>
                </li>
                <li><a href="/SiteManagement">Site Management</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="boxa">Portofolio</a>
              <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
              <ul class="htmlCss-sub-menu sub-menu menu3">
                <li><a href="/2022">2022</a></li>
                <li><a href="/teamsupport">Gallery Team</a></li>
              </ul>
            </li>
            <li>
              <a href="/contact" class="boxa">Contact</a>
            </li>
          </ul>
        </div>
        <label for="menu-toggle">
          <div class="hamburger-menu" id="hamburger-menu">
            <h2 class="logo-name">Menu</h2>
            <div class="bar"></div>
          </div>
        </label>
        <div class="nav__mobile" id="navId">
          <div class="nav__menu">
            <ul class="nav__list">
              <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
              <li class="nav__item dropdown">
                <a href="#aboutus" class="nav__link ">About </a>
                <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                <ul class="dropdown__menu">
                  <li class="dropdown__item"><a href="/testimony" class="nav__link">Client Testimony</a></li>
                  <li class="dropdown__item"><a href="/teamprofile" class="nav__link">Team Profile</a></li>
                  <li class="dropdown__item"><a href="/activity" class="nav__link"> CSR Activity</a></li>
                  <li class="dropdown__item"><a href="/compro" class="nav__link">Legal & Company Profile</a></li>
                </ul>
              </li>
              <li class="nav__item dropdown">
                <a href="#ourservice" class="nav__link ">Our Service </i></a>
                <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                <ul class="dropdown__menu">
                  <li class="dropdown__item dropdown">
                      <li class="dropdown__item dropdown">
                        <a class="nav__link ">Design, Project and Analize</a>
                        <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                        <ul class="dropdown__menu" style="margin-bottom: 10px;">
                          <li class="dropdown__item"><a href="/2Dlayout" class="nav__link">2D Layout</a></li>
                          <li class="dropdown__item"><a href="/3Drender" class="nav__link">3D Render</a></li>
                          <li class="dropdown__item"><a href="/budgeting" class="nav__link">Budgeting</a></li>
                        </ul>
                      </li>
                  </li>
                  <li class="dropdown__item"><a href="/SiteManagement" class="nav__link">Site Management</a>
                  </li>
                </ul>
              </li>
              <li class="nav__item dropdown">
                <a class="nav__link ">Portofolio </i></a>
                <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                <ul class="dropdown__menu">
                  <li class="dropdown__item"><a href="/2022" class="nav__link">2022</a></li>
                  <li class="dropdown__item"><a href="/teamsupport" class="nav__link">Gallery Team</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
            </ul>
            </li>
            </ul>
          </div>
        </div>
    </nav>
    </header>
    <!-- End Header -->

    <div class="header-testimony">
        <h1>Client Testimony</h1>
    </div>

    <section class="testimony">
        <div class="text-judul-testi">
            <h2>Villa Djavu</h2>
        </div>

        <div class="client-testimony-container">
            <div class="img-project-1">
                <img src="../img/img1.png" alt="project" />
            </div>
            <div class="img-testi-1">
                <img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675146674/Testimony/IMG_20230131_142739_x59ajo.jpg" alt="testi-1" />
            </div>
        </div>

        
    </section>

    <div class="jarak"></div>
    <!-- Testimonial -->
    <section id="testim" class="testim">
        <div class="text-header garis">
            <h2>Other Clients Review</h2>
        </div>
        <div class="testim-cover">
            <div class="wrap">
                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                    <div class="active">
                        <div class="img"><img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675151334/img%20sample/austin-distel-7uoMmzPd2JA-unsplash_i6emwc.jpg" alt="" /></div>
                        <h2>Michael</h2>
                        <p>I can't say enough about Anucara. Anucara has really helped our business.
                        </p>
                    </div>

                    <div>
                        <div class="img"><img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675151324/img%20sample/prince-akachi-4Yv84VgQkRM-unsplash_yjslan.jpg" alt="" /></div>
                        <h2>Lorenzo</h2>
                        <p>Would definitely recommend Anucara and will definitely be ordering again.
                        </p>
                    </div>

                    <div>
                        <div class="img"><img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675151330/img%20sample/tamara-bellis-GPokoGV9PGc-unsplash_ukaees.jpg" alt="" /></div>
                        <h2>Laura</h2>
                        <p>I love anything that I purchase from Anucara!
                        </p>
                    </div>

                    <div>
                        <div class="img"><img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675151328/img%20sample/albert-dera-ILip77SbmOE-unsplash_tymbqz.jpg" alt="" /></div>
                        <h2>John S.</h2>
                        <p>I highly recommend Anucara. It has been so important for us as we continue to grow our company.
                        </p>
                    </div>

                    <div>
                        <div class="img"><img src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1675151339/img%20sample/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash_mta7lw.jpg" alt="" /></div>
                        <h2>Ms. Loren R.</h2>
                        <p>If you want to take your business to the next level, use Anucara's services and look no further.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="consult">
        <div id="consultPopup" class="consult-popup">
            <h3>Consult & Order</h3>
            <div class="admin-list">
                <div class="admin">
                    <img src="../img/owner.jpg" />
                    <span>Nommy</span>
                </div>
            </div>
            <a id="wa" href="https://wa.me/6282126815627?&text="><i class="fab fa-whatsapp"></i> Chat Via WhatsApp</a>
            <a id="now" href="mailto:anucaradesignandbuild@gmail.com"><i class="fa fa-envelope"></i> Order Now</a>
            <div class="qr-code">
                <p>WhatsApp QR Code:</p>
                <img
                    src="https://res.cloudinary.com/dmxp1le4a/image/upload/v1671078528/img/WhatsApp_Image_2022-12-15_at_12.02.43_1_ybqxv4.jpg" />
            </div>
            <button id="close"><i class="fas fa-times"></i></button>
        </div>
        <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>
        <div id="consultBtn" class="consult-btn">
            <i class="fab fa-whatsapp"></i>
            <p>ASK ME !</p>
        </div>
    </div>

    <div class="jarak-cons"></div>

    <section class="consult-footer">
        <h1 class="judul">ASK ME! ABOUT OUR SERVICE</h1>
        <main>
            <div class="contact">
                <ul class="contact-icon">
                    <li>
                        <a href="https://wa.me/6282126815627?&text=Hallo%20"><i class="fab fa-whatsapp"> <span>+62
                                    821-2681-5627</span></i></a>
                    </li>
                    <li>
                        <a href="mailto:anucaradesignandbuild@gmail.com"><i class="fas fa-envelope">
                                <span>anucaradesignandbuild@gmail.com</span></i></a>
                    </li>
                </ul>
            </div>
        </main>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="content">
            <div class="top">
                <div class="logo-details"></div>
                <div class="media-icons">
                    <a href="https://www.facebook.com/profile.php?id=100086564315471 ">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="# "><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/anucara.designandbuild/?igshid=YmMyMTA2M2Y%3D ">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/anucara-design-and-build-3a9982252">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="# "><i class="fab fa-youtube"></i> </a>
                    <a href="https://www.tiktok.com/@anucara.design.and.build"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Anucara</li>
                    <li><a href="/#home">Home</a></li>
                    <li><a href="/#aboutus">About us</a></li>
                    <li><a href="/#ourservice ">Our Service</a></li>
                    <li><a href="#">Portofolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">About Us</li>
                    <li><a href="/testimony">Client Testimony</a></li>
                    <li><a href="/teamprofile">Team Profile</a></li>
                    <li><a href="/activity">CSR Activity</a></li>
                    <li><a href="/compro">Legal & Company Profile</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Our Service</li>
                    <li><a href="/2Dlayout">2D Layout</a></li>
                    <li><a href="/3Drender">3D Render</a></li>
                    <li><a href="/budgeting">Budgeting</a></li>
                    <li><a href="/SiteManagement">Site Management</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Portofolio</li>
                    <li><a href="/2022">2022</a></li>
                    <li><a href="/teamsupport">Gallery Team</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li class="fas fa-envelope"><a
                            href="mailto:anucaradesignandbuild@gmail.com ">anucaradesignandbuild@gmail.com</a></li>
                    <li class="fab fa-whatsapp"><a href="https://wa.me/6282126815627?&text=Hallo%20">+62
                            821-2681-5627</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    <span> Anucara</span></span>
            </div>
        </div>
    </section>
    <!-- End Footer -->

    <script src="../js/script.js"></script>
    <script src="../js/testimony.js"></script>
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
</body>

</html>
