.consult-footer {
  padding-top: 50px;
  width: 100%;
  height: auto;
  margin: auto;
  background: #040404;
}

h1.judul {
  text-align: center;
  letter-spacing: 3px;
  color: #f7b716c4;
  font-size: 30px;
}
main {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 1.2rem 0 1.2rem;
  align-items: center;
}

.consult-footer .contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  border: 2px solid #f7b716;
  border-radius: 5px;
  min-height: 50vh;
  margin-bottom: 30px;
  margin-top: 30px;
}

ul.contact-icon {
  display: flex;
  margin: 10px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul.contact-icon li {
  list-style: none;
  margin-bottom: 25px;
}

ul.contact-icon li a {
  position: relative;
  width: 50vw;
  height: 50px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7b716;
  text-decoration: none;
  color: whitesmoke;
  font-size: 2em;
  box-shadow: 0 5px 15px #f7b71652;
  background-color: black;
  overflow: hidden;
}

ul.contact-icon li a i,
ul.contact-icon li span {
  font-size: 2.5vw;
  font-weight: lighter;
}

ul.contact-icon li a:hover {
  transform: translateY(-20px);
  transition: all 1s;
}

ul.contact-icon li a::after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #f7b716;
  transform: skewX(150deg) translateX(300px);
  transition: 1s;
  bottom: 0;
}

ul.contact-icon li a:hover::after {
  transform: skewX(150deg) translatex(-300px);
  background-color: rgba(247, 183, 22, 0.4);
  bottom: 0;
  width: 50px;
}

.email-container {
  text-align: center;
  color: white;
}

.email-container .section-email {
  margin-top: 10px;
}

.email-container .section-email h5 {
  color: #f7b716;
}

@media screen and (min-width: 769px) {
  main {
    flex-direction: row;
  }
  .contact {
    width: 130vw;
  }

  ul.contact-icon {
    grid-template-columns: auto auto auto;
  }

  ul.contact-icon li a i,
  ul.contact-icon li span {
    font-size: 1.3vw;
    font-weight: lighter;
  }
}

@media screen and (min-width: 900px) {
  ul.contact-icon {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 1025px) {
  ul.contact-icon {
    grid-template-columns: auto auto auto auto auto;
  }

  ul.contact-icon li a i,
  ul.contact-icon li span {
    font-size: 1vw;
    font-weight: lighter;
  }

  ul.contact-icon li a {
    width: 30vw;
  }
}
