.intro {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transition: 3s;
}

.intro-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.intro-logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.intro-logo.actived {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}