/* all portofolio page */

.container-porto {
  position: relative;
}

.img-change {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.img-anucara img {
  z-index: 1000;
  display: flex;
  float: right;
  margin-top: 32%;
  margin-right: 9%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.porto-anucara-img {
  height: 12%;
  width: 24%;
}

/* end all portofolio page */

.swiper {
  width: 90vw;
  padding-top: 50px;
  padding-bottom: 50px;
  height: max-content;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: max-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40vh;
}

.container-swiper {
  margin-top: 50px;
  padding: 20px;
  height: 80vh;
}

.container-swiper h1 {
  letter-spacing: 3px;
  color: #f7b716c4;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 8px;
}

.card-body {
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 50vh;
  margin-top: 150px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.244));
}

.card-body h5 {
  text-align: right;
  font-size: 2.3rem;
}

hr {
  width: 50%;
  float: right;
}

.card-body p {
  margin-top: 20px;
  margin-left: -20px;
}

.container-swiper .swiper-button-next,
.container-swiper .swiper-button-prev {
  display: none;
}

/* card */

.container-cards {
  display: grid;
  padding: 0 1.5rem 0 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  height: max-content;
}

.card-portfolio {
  width: max-content;
  height: max-content;
}

.card-portfolio img {
  width: 30vw;
  height: 100%;
}

.card-bodys {
  color: white;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); */
  padding: 0 5px 0 5px;
}

.card-bodys h5 {
  text-align: right;
  font-size: 1.5rem;
}

.card-bodys hr {
  width: 50%;
  float: right;
}

@media only screen and (min-width: 992px) {
  .card-body h5 {
    font-size: 3.2rem;
  }
  .container-swiper .swiper-button-next,
  .container-swiper .swiper-button-prev {
    color: white;
    display: block;
  }

  .card-body {
    transform: translateZ(20px) scaleY(0);
    transition: all 0.5s;
    width: 110%;
  }
  .card:hover .card-body {
    transform: translateZ(20px) scaleY(1);
  }

  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
