/* ===== Google Fonts ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Color */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--font-background);
  color: var(--font-color);
}

:root {
  --body-color: #171717;
  --nav-color: rgba(0, 0, 0, 0.4);
  --dropdown-color: rgba(0, 0, 0, 0);
  --font-background: #e1e3e4;
  --font-color: #000;
  --font-color3: #f7b716;
  --font-colors: #a04d19;
  --text-color: #fff;
  --submenu-color: hsl(210, 3%, 15%);
  --border: 0.2rem solid var(--font-color3);
  --text-shadow: 0.4rem 0.4rem 0 #954717;
  --black: #e0e0e0;
  --light-color: #afacac;
  --active-color: #dedede;
}

body {
  max-height: 100vh;
  background-color: var(--body-color);
  overflow-y: scroll;
}

.nav__mobile {
  display: none;
}

a {
  text-decoration: none;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 1000;
  transition: 300ms ease;
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.boxaa.scrolled,
.htmlCss-sub-menu.scrolled,
.menu3.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
}

header nav .navbar {
  height: 100%;
  width: 100%;
  max-width: 1290px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header nav .navbar img {
  width: 350px;
  height: 80px;
  margin-top: 5px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

header nav .navbar .nav-links {
  display: block;
  font-weight: 500;
  margin: 0 0 0 50px;
  font-size: 20px;
}

header nav .navbar .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 14px;
}

header nav .navbar .links li a {
  height: 100%;
  color: var(--font-color3);
  text-decoration: none;
  white-space: nowrap;
  border-radius: 99px;
  padding: 5px 10px 5px 10px;
}

header nav .navbar .links li a.is-active,
header nav .navbar .links li a.boxa:hover {
  background: var(--active-color);
  height: max-content;
}

header nav .navbar .links li .arrow {
  color: var(--font-color3);
  height: 100%;
  width: 22px;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  transition: ease-in-out 300ms;
}

.navbar .links li:hover .htmlcss-arrow,
.navbar .links li:hover .js-arrow {
  transform: rotate(180deg);
}

.navbar .links .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  background-image: linear-gradient(to bottom, var(--dropdown-color), var(--nav-color), var(--nav-color), var(--nav-color));
  line-height: 40px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
}

.navbar .links .sub-menu li {
  padding: 0 22px;
}

.navbar .links .sub-menu li:hover {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.navbar .links .sub-menu li a {
  color: var(--font-color3);
  font-size: 15px;
  font: 500;
}

.navbar .links .sub-menu li .more-arrow {
  line-height: 40px;
}

.navbar .links li:hover .htmlCss-sub-menu,
.navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links .sub-menu li a:hover {
  transform: scale(1.1);
}

.navbar .links .more .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 4px 12px 12px 12px;
  display: none;
  margin-left: 2px;
  background-color: var(--nav-color);
}

.navbar .links .more:hover .more-sub-menu {
  display: block;
}

.navbar .links .more .more-sub-menu::before {
  content: '';
  position: absolute;
  margin-top: 13px;
  left: -6px;
  height: 12px;
  width: 12px;
  background: var(--nav-color);
  transform: rotate(45deg);
  z-index: -1;
}

.navbar .links .more-sub .more-sub-menu-inside {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 4px 12px 12px 12px;
  display: none;
  margin-left: 2px;
  background-color: rgb(0, 0, 0, 0.6);
}

.navbar .links .more-sub:hover .more-sub-menu-inside {
  display: block;
}

.navbar .links .more-sub .more-sub-menu-inside::before {
  content: '';
  position: absolute;
  margin-top: 22px;
  left: -6px;
  height: 12px;
  width: 12px;
  background: rgb(0, 0, 0, 0.6);
  transform: rotate(45deg);
  z-index: -1;
}

/* Hamburger Menu */

.navbar .hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .bar {
  width: 1.8rem;
  height: 2.4px;
  border-radius: 2px;
  background-color: var(--font-colors);
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--font-color3);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.navbar.active .bar {
  transform: rotate(-360deg);
  background-color: transparent;
}

.navbar.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.navbar.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

/* Home Content */

.home {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  filter: brightness(76%);
  background: url(../img/img1.png);
  height: 100vh;
  background-attachment: fixed;
}

.home .contentbody .boxtext {
  position: relative;
  margin-top: 180px;
  width: 800px;
  padding: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #000;
  margin-left: 10px;
  border-radius: 15px;
}

.home .contentbody .boxtext:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-attachment: fixed;
}

.home .contentbody h1 {
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  text-shadow: 2px 2px #ff0000;
}

.home .contentbody h2 {
  position: relative;
  font-size: 1.8rem;
  color: #fff;
  z-index: 2;
  text-shadow: 2px 2px #383838;
}

.home .contentbody p {
  position: relative;
  font-size: 1.21rem;
  font-weight: 200px;
  color: #fff;
  z-index: 2;
  text-shadow: 2px 2px #383838;
}

.home .contentbody #text {
  color: #f7b716;
  font-family: 'poppins', sans-serif;
  font-weight: 500px;
  font-size: 4.2rem;
  z-index: 2;
}

.jarak {
  position: relative;
  padding: 40px;
  background: #101010;
}

/* About Company */

.aboutus {
  position: relative;
  width: 80%;
  height: max-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #666;
  justify-content: center;
}

.about {
  margin-top: 60px;
  width: max-content;
}

.aboutus .about {
  text-align: center;
}

.aboutus .about h1 {
  letter-spacing: 3px;
  color: #f7b716c4;
  font-size: 2rem;
}

.aboutus .about p {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #d7d7d7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, rgba(221, 221, 221) 46%, rgba(0, 0, 0, 0.1) 0%);
}

.container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, rgba(221, 221, 221) 46%, rgba(0, 0, 0, 0.1) 0%);
  border-radius: 15px;
}

.container .card .box-card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-image: linear-gradient(45deg, rgb(193, 193, 193) 0%, rgb(208, 208, 208) 46%, rgb(193, 192, 192) 0%);
  border: 2px solid #a1a1a1;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container .card .box-card:hover {
  transform: translateY(-30px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.container .card .content-card {
  padding: 20px;
  text-align: center;
}

.container .card .content-card h3 {
  letter-spacing: 3px;
  color: #a04d19;
  font-size: 22px;
  z-index: 1;
  transition: 0.5s;
}

.container .card .content-card .text-card {
  letter-spacing: 3px;
  color: #000000c4;
  font-size: 20px;
  z-index: 1;
  transition: 0.5s;
}

.container .card .content-card h4 {
  letter-spacing: 3px;
  color: #a04d19;
  font-size: 20px;
  z-index: 1;
  transition: 0.5s;
}

.container .card .content-card p {
  font-size: 16px;
  font-weight: 400;
  color: #000000ef;
  z-index: 1;
  transition: 0.5s;
  text-align: left;
}

.container .card .content-card .text-3 {
  margin-top: 50px;
}

/* Section Icons */

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.426fr));
  padding: 3rem;
  justify-content: center;
  overflow: hidden;
}

.icons-container .icons-con {
  border: var(--border);
  box-shadow: var(--text-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
}

.bg-img-1 {
  background-image: url(https://res.cloudinary.com/dmxp1le4a/image/upload/v1671076667/img/img1_ktbgbz.png);
  background-size: cover;
  filter: brightness(76%);
}

.bg-img-2 {
  background-image: url(https://res.cloudinary.com/dmxp1le4a/image/upload/v1671076676/img/img2_trsm6e.png);
  background-size: cover;
  filter: brightness(76%);
}

.icons-container .icons-con i {
  font-size: 4.5rem;
  color: var(--font-color3);
  padding-bottom: 0.7rem;
  text-shadow: var(--text-shadow);
}

.icons-container .icons-con h3 {
  font-size: 3.5rem;
  color: var(--font-color3);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons-con p {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  text-shadow: 2px 2px #383838;
}

/* Section Our Service */
.ourservice {
  position: relative;
  width: 80%;
  height: max-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #666;
  justify-content: center;
  margin-bottom: 50px;
}

.ourservice .service {
  margin-top: 60px;
  width: max-content;
  text-align: center;
}

.service h1 {
  letter-spacing: 3px;
  color: #f7b716c4;
  font-size: 2.3rem;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

.card-column {
  display: grid;
  grid-template-columns: 380px;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: 'image' 'text';
  border-radius: 18px;
  background: rgba(208, 208, 208, 0.923);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  font-family: 'poppins', sans-serif;
  text-align: justify;
  cursor: pointer;
  margin: 30px;
  transition: 0.5s;
}

.card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('https://res.cloudinary.com/dmxp1le4a/image/upload/v1671076667/img/img1_ktbgbz.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  width: inherit;
}

.card-column:hover {
  transform: translateY(-12px);
}

.card-text {
  grid-area: text;
  margin-left: 10px;
}

.card-text {
  color: var(--font-colors);
  font-size: 13px;
}

.card-text p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.card-image.card2 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('https://res.cloudinary.com/dmxp1le4a/image/upload/v1671076639/img/steelimg_iouy3j.png');
  background-size: cover;
}

/* .bg-img {
  background-image: url(../img/img1.png);
} */

/* btn */

.bungkus {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  margin: 4px;
  position: relative;
  font-size: 15px;
  cursor: pointer;
  height: 28px;
  color: #000;
  border: solid 2px #000;
  box-shadow: 4px 4px #313131;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  width: 160px;
}

.btn:hover {
  background: #878787;
  color: #f1f1f1;
}

.btn-content {
  width: 135px;
}


/* consult popup */

.consult .consult-popup {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border: rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  bottom: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
  transition: none;
}

.consult .consult-popup.pop {
  visibility: visible;
}

.consult .consult-popup h3 {
  background: linear-gradient(45deg, rgba(215, 191, 127, 1) 0%, rgba(152, 122, 82, 1) 46%, rgba(152, 122, 82, 1) 100%);
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  transition: none;
}

.consult .consult-popup p {
  text-align: center;
  font-size: 12px;
  transition: none;
}

.consult .consult-popup .admin-list {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: none;
}

.consult .consult-popup .admin-list .admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: none;
}

.consult .consult-popup .admin-list .admin span {
  transition: none;
}

.consult .consult-popup .admin-list .admin img {
  background-color: rgb(152, 160, 160);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--black);
  transition: none;
}

.consult .consult-popup a {
  align-self: flex-start;
  color: #fff;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  transition: none;
}

.consult .consult-popup a:hover {
  opacity: 0.9;
  transition: none;
}

.consult .consult-popup a i {
  transition: none;
}

.consult .consult-popup #wa {
  background-color: #018a01;
}

.consult .consult-popup #now {
  background: linear-gradient(-45deg, #7c0e00, #562b00, #5200a5, #004c8e, #003f99, #4e008e, #a36c00, #8e4500, #871200);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite, shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

.consult .consult-popup .qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: none;
}

.consult .consult-popup .qr-code img {
  background-color: #777;
  width: 120px;
  height: 120px;
  transition: none;
}

.consult .consult-popup #close {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: transparent;
  font-size: 24px;
  border: none;
  transition: none;
}

.consult .consult-popup #close i {
  transition: none;
}

.consult .consult-btn {
  position: fixed;
  bottom: 18px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 15px;
  background: linear-gradient(45deg, rgba(215, 191, 127, 1) 0%, rgba(152, 122, 82, 1) 46%, rgba(152, 122, 82, 1) 100%);
  padding: 8px;
  border-radius: 10px;
}

.consult .consult-btn:hover {
  background-color: #40bba2;
}

.consult .consult-btn::before {
  content: '1';
  position: absolute;
  top: -5px;
  right: -2px;
  width: 18px;
  height: 18px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}

.consult .consult-btn i {
  color: #fff;
  font-size: 30px;
}

.consult .consult-btn p {
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.2em;
}

.consult .fa-whatsapp,
.consult .fa-envelope {
  color: #fff;
}

/* Button Scroll To Top */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 46px;
  bottom: 18px;
  right: 180px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(45deg, rgba(215, 191, 127, 1) 0%, rgba(152, 122, 82, 1) 46%, rgba(152, 122, 82, 1) 100%);
  color: #fff;
  font-size: 22px;
  z-index: 100;
  border-radius: 10px;
}

/* Legal */

.header-legal {
  text-align: center;
  letter-spacing: 3px;
  color: #f7b716c4;
  font-size: 1rem;
  margin-bottom: 8px;
}

.legal-anucara-container {
  position: relative;
  height: max-content;
  align-items: center;
  width: min-content;
  margin: auto;
  border-radius: 10px;
  padding: 1px 5px 2px 5px;
  box-shadow: 0px 0px 5px 0px rgb(147, 147, 147);
  justify-content: center;
  margin-bottom: 50px;
}

.legal-img {
  display: flex;
  align-items: center;
  width: auto;
  overflow: hidden;
}

.legal-img img {
  width: 40vw;
  border-radius: 10px;
  filter: brightness(78%);
  height: 50vw;
  padding: 5px;
}

/* Location */

.location {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #666;
  justify-content: center;
  margin-bottom: 50px;
}

.locate-map iframe {
  position: relative;
  width: 60vw;
  border: 0;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 10px;
}

.location .locate-us {
  text-align: center;
}

.locate-us h2 {
  color: #f7b716c4;
  letter-spacing: 0.1em;
  font-size: 45px;
  font-weight: 500;
}

.locate-us p {
  font-weight: 400;
  margin-top: 10px;
  color: #d7d7d7;
}

/* Jarak */
.jarak-cons {
  position: relative;
  padding: 40px;
  background-image: linear-gradient(135deg, rgba(7, 1, 2, 1) 0%, rgba(28, 27, 25, 1) 21%, rgba(45, 45, 41, 1) 50%, rgb(68, 36, 12) 78%, rgba(10, 5, 5, 1) 100%);
}

/* Media Queries Navbar */

.logo-name {
  display: none;
}

.hamburger-menu .bar {
  display: none;
}

/* Footer */

.footer {
  position: relative;
  background-image: linear-gradient(135deg, rgba(7, 1, 2, 1) 0%, rgba(28, 27, 25, 1) 21%, rgba(45, 45, 41, 1) 50%, rgb(68, 36, 12) 78%, rgba(10, 5, 5, 1) 100%);
  bottom: 0;
  left: 0;
}

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: var(--text-color);
}

.footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  justify-content: center;
}

.content .top .media-icons {
  display: flex;
  justify-content: center;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.7s ease;
}

.content .top .media-icons a:hover {
  transform: translateY(-10px);
}

.top .media-icons a:nth-child(1) {
  background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1da1f2;
  display: none;
}

.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077b5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #ff0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}

.top .media-icons a:nth-child(6) {
  background: #000;
  filter: drop-shadow(1px 0px 0px #fd3e3e) drop-shadow(-1px -1px 0px #4de8f4);
}

.top .media-icons a:nth-child(6):hover {
  color: #000;
  background: #fff;
  filter: drop-shadow(1px 0px 0px #fd3e3e) drop-shadow(-1px -1px 0px #4de8f4);
}

.fa-tiktok {
  filter: drop-shadow(1px 0px 0px #fd3e3e) drop-shadow(-1px -1px 0px #4de8f4);
}

.footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .content .link-boxes .box {
  width: calc(100% / 7 - 15px);
}

.content .link-boxes .box .link_name {
  color: var(--font-color3);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: var(--font-color3);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.fa-envelope {
  color: #fff;
}

.fa-whatsapp {
  color: #fff;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer .bottom-details {
  width: 100%;
  background: var(--nav-color);
}

.footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
}

.bottom-details .bottom_text span {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color3);
  opacity: 0.8;
  text-decoration: none;
}

/* Media Queries Footer */
@media (max-width: 1410px) {
  .footer .content .link-boxes .box {
    word-break: break-all;
  }
}

@media (max-width: 900px) {
  .footer .content .link-boxes {
    flex-wrap: wrap;
  }

  .footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 880px) {
  .column {
    flex-direction: column;
  }

  header nav .navbar img {
    margin: auto;
  }

  .hamburger-menu .bar {
    display: block;
    margin-right: 20px;
    z-index: 9999;
  }

  .logo-name {
    position: absolute;
    left: 0;
    margin-left: 10px;
    color: white;
    z-index: 2;
  }

  header nav .navbar .nav-links {
    display: none;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .nav__mobile {
    display: block;
    position: fixed;
    top: 0;
    left: -1000%;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    padding: 2rem 0;
    z-index: 200;
    transition: 0.5s;
  }

  .nav__menu {
    margin-top: 50px;
  }

  .nav__item {
    margin-left: 10px;
    margin-bottom: 2rem;
    font-size: large;
    color: var(--font-color3);
  }

  .nav__item i {
    padding-left: 5px;
  }

  .nav__link {
    color: var(--font-color3);
    padding: 0 1.3rem;
    border-radius: 99px;
  }

  .nav__link:hover,
  .nav__link.actives {
    background-color: #fff;
  }

  .show {
    left: 0;
  }

  .dropdown__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown__icon {
    font-size: 1.3rem;
    transition: 0.5s;
  }

  .dropdown__menu {
    margin: 1rem 0 0 1rem;
    display: none;
  }

  .dropdown:hover > .dropdown__menu {
    display: block;
  }

  .dropdown:hover > .dropdown__icon {
    transform: rotate(180deg);
    padding-left: 20px;
  }

  /* akhir humberger menu */

  .home .contentbody .boxtext {
    width: 90vw;
  }

  .footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  .card-column {
    width: 300px;
  }

  .footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
    word-break: break-all;
  }

  .footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .home .contentbody #text {
    font-size: 2.2rem;
  }

  .aboutus {
    width: 90vw;
  }

  .legal-anucara-container .legal-img {
    flex-direction: column;
  }

  .legal-anucara-container .legal-img img {
    width: 300px;
    height: auto;
  }

  .footer::before {
    top: 145px;
  }

  .footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  .footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  .footer .content .link-boxes .input-box {
    width: 100%;
  }
}
