/* ===== Google Fonts ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.952);
  z-index: 200;
  color: #fff;
  text-align: center;
  line-height: 90vh;
  transition: all 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#fade {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  font-size: 32px;
  font-weight: 500;
  font-family: cursive;
}

/* owner section */

.owner-profile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.owner-profile .left {
  width: 50%;
  background: linear-gradient(to bottom right, #181919, #0e0e0e);
  border-radius: 7px;
  text-align: center;
  color: #fff;
}

.owner-profile .left img {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 280px;
  filter: brightness(100%);
}

.owner-profile .left h4 {
  font-size: 1.3em;
  letter-spacing: 1px;
  color: #f7b716c4;
  margin-bottom: 4px;
}

.owner-profile .left h6 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 1px;
  color: #f7b716c4;
}

.owner-profile .right {
  width: 100%;
  height: 10%;
  padding: 10px 5px;
  margin-left: 10%;
}

.owner-profile .quotes {
  margin-bottom: 2px;
  text-align: center;
}

.owner-profile .text-banner {
  text-align: center;
  font-size: 22px;
  color: #a04d19;
  letter-spacing: 0.3px;
}

.owner-profile .quotes h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a82323;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f7b716c4;
  font-size: 1.8rem;
}

#jarak {
  margin-top: 50px;
}

.judul-jarak {
  position: relative;
  padding: 20px;
  margin-top: 25px;
  background: #101010;
  margin-bottom: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 34%;
  width: max-content;
  background-image: linear-gradient(135deg, rgba(7, 1, 2, 1) 0%, rgba(28, 27, 25, 1) 21%, rgba(45, 45, 41, 1) 50%, rgb(68, 36, 12) 78%, rgba(10, 5, 5, 1) 100%);
}

.judul-jarak h1 {
  color: #f7b716c4;
  letter-spacing: 3px;
  font-size: 32px;
  text-align: center;
}

/* team section */

.teamprofile {
  min-height: 100vh;
  /* padding: 15px 15px 30px; */
  width: 100%;
}

.container {
  max-width: 1214px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.teamprofile .team-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teamprofile .team-items .item {
  flex-basis: calc(27% - 40px);
  max-width: calc(40% - 50px);
  transition: all 0.5s ease;
  margin-bottom: 40px;
}

.teamprofile .team-items .item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.teamprofile .team-items .item .inner {
  position: relative;
  z-index: 11;
  padding: 0 15px;
}

.teamprofile .team-items .item .inner .info {
  background-color: #171717;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all 0.5s ease;
  margin-top: -40px;
}

.teamprofile .team-items .item:hover .info {
  transform: translateY(-20px);
}

.teamprofile .team-items .item:hover {
  transform: translateY(-10px);
}

.teamprofile .team-items .item .inner .info h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #f7b716c4;
  letter-spacing: 1px;
}

.teamprofile .team-items .item .inner .info p {
  font-size: 16px;
  font-weight: 400;
  color: #a04d19;
  margin: 10px 0 0;
  letter-spacing: 1px;
}

@media (max-width: 610px) {
  .owner-profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    height: max-content;
    margin-bottom: 100px;
  }

  .owner-profile .left {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
  }

  .owner-profile .left h6 {
    width: 80vw;
  }

  .owner-profile .right {
    height: 100%;
    margin-left: 0;
  }
}
