<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anucara</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <!-- ===== Style CSS ===== -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <style>
      .footer::before {
        background: none;
      }
    </style>

    <!-- ===== Fontawesome ===== -->
    <script src="https://kit.fontawesome.com/6b15f87bf3.js" crossorigin="anonymous"></script>

    <!-- ===== Boxicons CSS===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />

    <!-- ===== AOS ===== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav>
        <div class="navbar">
          <img class="image" src="img/logo anucarapt.png" alt="logo anucara" />
          <div class="nav-links active">
            <ul class="links">
              <li>
                <a href="index.html" class="boxa">Home</a>
              </li>
              <li>
                <a href="index.html" class="boxa">About Us</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu">
                  <li>
                    <a href="menu/teamprofile.html">Team Profile</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index.html" class="boxa">Our Service</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu boxaa">
                  <li>
                    <a href="menu/mepcivil.html">Mep Civil</a>
                  </li>
                  <li>
                    <a href="menu/steelconstruction.html">Steel Construction</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="boxa">Portofolio</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu menu3">
                  <li>
                    <a href="menu/allportofolio.html">All Portofolio</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contact.html" class="is-active">Contact</a>
              </li>
            </ul>
          </div>
          <label for="menu-toggle">
            <div class="hamburger-menu" onclick="myfunc()">
              <span class="logo-name">Menu</span>
              <div class="bar"></div>
            </div>
          </label>
          <input type="checkbox" name="menu-toggle" id="menu-toggle" style="display: none" />
        </div>
      </nav>
    </header>
    <!-- End Header -->

    <h1 class="judul">Contact Us</h1>
    <main>
      <div class="contact">
        <ul class="contact-icon">
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
        </ul>
        <div class="email-container">
          <h1 class="email">Email:</h1>
          <div class="section-email">
            <p>Penawaran Kerja Sama:</p>
            <h5>partnership@emporioarchitect.com</h5>
          </div>
          <div class="section-email">
            <p>Penawaran Kerja Sama:</p>
            <h5>partnership@emporioarchitect.com</h5>
          </div>
          <div class="section-email">
            <p>Fast Respon via WA disertai Nama & Lokasi</p>
            <p>Jam Fast Respon : Senin - Jumat 09.00 - 17.00 WIB, Sabtu & Minggu 09.00 - 20.00 WIB</p>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <section class="footer">
      <div class="content">
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Anucara</li>
            <li><a href="index.html ">Home</a></li>
            <li><a href="# ">About us</a></li>
            <li><a href="# ">Our Service</a></li>
            <li><a href="# ">Portofoli</a></li>
            <li><a href="# ">Contact</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">About Us</li>
            <li><a href="menu/teamprofile.html ">Team Profile</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Our Service</li>
            <li><a href="menu/mepcivil.html ">MEP Civil</a></li>
            <li><a href="menu/steelconstruction.html ">Steel Construction</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li class="fas fa-envelope"><a href="mailto:anucaradesignandbuild@gmail.com "> anucaradesignandbuild@gmail.com</a></li>
            <li class="fab fa-whatsapp"><a href="https://wa.me/6282126815627"> +62 821-2681-5627</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text"
            >Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            <span> Anucara</span></span
          >
          <span class="policy_terms">
            <a href="# ">Privacy policy</a>
            <a href="# ">Terms & condition</a>
          </span>
        </div>
      </div>
    </section>
    <!-- End Footer -->
  </body>
</html>
