<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anucara</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <!-- ===== Style CSS ===== -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/contact.css" />

    <!-- ===== Fontawesome ===== -->
    <script src="https://kit.fontawesome.com/6b15f87bf3.js" crossorigin="anonymous"></script>

    <!-- ===== Boxicons CSS===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />

    <!-- ===== AOS ===== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav>
        <div class="navbar">
          <img class="image" src="img/logo anucarapt.png" alt="logo anucara" />
          <div class="nav-links active">
            <ul class="links">
              <li>
                <a href="/" class="is-active">Home</a>
              </li>
              <li>
                <a href="/#aboutus" class="boxa">About Us</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu">
                  <li>
                    <a href="/testimony">Client Testimony</a>
                  </li>
                  <li>
                    <a href="/teamprofile">Team Profile</a>
                  </li>
                  <li>
                    <a href="menu/activity.html">CSR Activity</a>
                  </li>
                  <li>
                    <a href="#">Legal & Company Profile</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#ourservice" class="boxa">Our Service</a>
                <i class="bx bx-chevron-down arrow js-arrow"></i>
                <ul class="js-sub-menu sub-menu boxaa">
                  <li class="more">
                    <a href="#">Project Management</a>
                    <br />
                    <i class="bx bx-chevron-right arrow more-arrow"></i>
                    <ul class="more-sub-menu sub-menu">
                      <li><a href="#">2D Layout</a></li>
                      <li><a href="#">3D Render</a></li>
                      <li><a href="#">Budgeting Plan</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Building Construction</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="boxa">Portofolio</a>
                <i class="bx bx-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlCss-sub-menu sub-menu menu3">
                  <li>
                    <a href="/allportofolio">All Portofolio</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/contact" class="boxa">Contact</a>
              </li>
            </ul>
          </div>
          <label for="menu-toggle">
            <div class="hamburger-menu" id="hamburger-menu">
              <h2 class="logo-name">Menu</h2>
              <div class="bar"></div>
            </div>
          </label>
          <div class="nav__mobile" id="navId">
            <div class="nav__menu">
              <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__item dropdown">
                  <a href="/#aboutus" class="nav__link ">About </a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item"><a href="/teamprofile" class="nav__link">Team Profile</a></li>
                    <li class="dropdown__item"><a href="/activity" class="nav__link">Activity</a></li>
                    <li class="dropdown__item"><a href="/testimony" class="nav__link">Testimony</a></li>
                  </ul>
                </li>
                <li class="nav__item dropdown">
                  <a href="/#ourservice" class="nav__link ">Our Service </i></a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item dropdown">
                      <a class="nav__link">Project Management</a>
                      <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                      <ul class="dropdown__menu" style="margin-bottom: 10px;">
                        <li class="dropdown__item"><a href="" class="nav__link">2D Layout</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">3D Layout</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">Industrial Gallery</a></li>
                        <li class="dropdown__item"><a href="" class="nav__link">Budgeting Plan</a></li>
                      </ul>
                    </li>
                    <li class="dropdown__item"><a href="" class="nav__link">Building Construction</a></li>
                  </ul>
                </li>
                <li class="nav__item dropdown">
                  <a  class="nav__link ">Portofolio </i></a>
                  <i class="fa-solid fa-caret-down dropdown__link dropdown__icon"></i>
                  <ul class="dropdown__menu">
                    <li class="dropdown__item"><a href="/allportofolio" class="nav__link">All Portofolio</a></li>
                  </ul>
                </li>

                <li class="nav__item"><a href="/contact" class="nav__link">Contact Us</a></li>

              </ul>
            </li>
            
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <!-- End Header -->

    <section id="home" class="home">
      <div class="contentbody">
        <div class="boxtext">
          <h2>NEED A CONSTRUCTION</h2>
          <h1 id="text">FOR YOUR BUILDING</h1>
          <p>We are the specialist and professionals who will handle it well</p>
        </div>
      </div>
    </section>

    <div class="jarak"></div>

    <section id="aboutus" class="aboutus">
      <div class="about">
        <h1>About Our Company</h1>
        <p>
          This house established since 2022 with big dream from many ways a who united to seattle for many task in the future, we came from different timeline, Education and experience colaborated to be your best friend Architect, Civil
          Engineer, and Design Interior.
        </p>
        <div class="container">
          <div class="card">
            <div class="box-card">
              <div class="content-card">
                <h3>OVERVIEW</h3>
                <p class="text-3">
                  CV. ANUCARA RANCANG BANGUN is a home for multidisciplinary professionals. Our philosophy is to start something with an end goal. Think broadly to provide solutions with effective results as a friend in designing and
                  building
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="box-card">
              <div class="content-card">
                <h3 class="text-card">DRIVING FACTOR</h3>
                <h4>COMMITMENT</h4>
                <p>
                  First and foremost we are committed to delivering the highest level of service, quality and value. We look beyond the moment and see the bigger picture. This means we know satisfied clients pave the way for our continued
                  success
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="box-card">
              <div class="content-card">
                <h3>TRANSPARENCY</h3>
                <p class="text-3">We take the time to explain contracts, plans, schedules and strategies to ensure a complete understanding and agreement is realized by all parties</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="icons-container">
      <div class="icons-con bg-img-1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
        <i class="fas fa-file-contract"></i>
        <h3>002+</h3>
        <p>ON GOING PROJECT</p>
      </div>

      <div class="icons-con bg-img-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
        <i class="fas fa-file-contract"></i>
        <h3>008+</h3>
        <p>FINISHED PROJECT</p>
      </div>
    </section>

    <section class="ourservice" id="ourservice">
      <div class="service">
        <h1>Our Services</h1>
        <div class="column">
          <div class="card-column">
            <a class="card-image" href="menu/contact.html"></a>
            <div class="card-text">
              <h2>Project Management</h2>
              <div class="bungkus">
                <div class="buttons">
                  <a href="menu/2dlayout.html" class="btn btn-1">#2D Layout</a>
                  <a href="menu/3drendering.html" class="btn btn-2">#3D Rendering</a>
                  <a href="menu/industrialgal.html" class="btn btn-2">#Industrial Gallery</a>
                  <a href="menu/budgetingplan.html" class="btn btn-3">#Budgeting Plan</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-column">
            <a href="menu/teamprofile.html" class="card-image card2"></a>
            <div class="card-text card2">
              <h2>Building Construction</h2>
              <div class="bungkus">
                <div class="buttons">
                  <a href="/building" class="btn btn-content">#Content</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="consult">
      <div id="consultPopup" class="consult-popup">
        <h3>Consult & Order</h3>
        <div class="admin-list">
          <div class="admin">
            <img src="img/owner.jpg" />
            <span>Nommy</span>
          </div>
        </div>
        <a id="wa" href="https://wa.me/6282126815627?&text="><i class="fab fa-whatsapp"></i> Chat Via WhatsApp</a>
        <a id="now" href="https://wa.me/6282126815627"><i class="fab fa-whatsapp"></i> Order Now</a>
        <div class="qr-code">
          <p>WhatsApp QR Code:</p>
          <img src="" />
        </div>
        <button id="close"><i class="fas fa-times"></i></button>
      </div>
      <div id="consultBtn" class="consult-btn">
        <i class="fab fa-whatsapp"></i>
        <p>ASK ME !</p>
      </div>
    </div>

    <div class="header-legal">
      <h1>LEGAL</h1>
    </div>
    <div class="legal-anucara-container">
      <div class="legal-img">
        <img src="img/legal1.png" />
      </div>
    </div>
    <div class="legal-anucara-container">
      <div class="legal-img" id="legal-img">
        <img src="img/legal2.png" />
      </div>
    </div>

    <section class="location">
      <div class="locate-us">
        <h2>Locate Us</h2>
        <p>Jl. Tukad Citarum No. 42X - Panjer</p>
        <p>Denpasar Selatan - Bali</p>
        <div class="locate-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1016.8371224672418!2d115.2334829292001!3d-8.682467599610094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd24124ad073ec1%3A0x864721d609d3fcfd!2sANUCARA%20DESIGN%20AND%20BUILD!5e1!3m2!1sid!2sid!4v1666180557325!5m2!1sid!2sid"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <div class="jarak-cons"></div>

    <section class="consult-footer">
      <h1 class="judul">CONSULTATION WITH OUR CS</h1>
      <main>
        <div class="contact">
          <ul class="contact-icon">
            <li>
              <a href="https://wa.me/6282126815627?&text=Hallo%20"
                ><i class="fab fa-whatsapp"> <span>+62 821-2681-5627</span></i></a
              >
            </li>
            <li>
              <a href="mailto:anucaradesignandbuild@gmail.com"
                ><i class="fas fa-envelope"> <span>anucaradesignandbuild@gmail.com</span></i></a
              >
            </li>
          </ul>
          <div class="email-container">
            <div class="section-email">
              <p>Fast Respon via WA</p>
              <p>Work Time : Monday - Friday 09.00 - 17.00 WIB, Saturday & Sunday 09.00 - 20.00 WIB</p>
            </div>
          </div>
        </div>
      </main>
    </section>

    <!-- Footer -->
    <section class="footer">
      <div class="content">
        <div class="top">
          <div class="logo-details"></div>
          <div class="media-icons">
            <a href="https://www.facebook.com/profile.php?id=100086564315471 ">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="# "><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/anucara.designandbuild/?igshid=YmMyMTA2M2Y%3D ">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/anucara-design-and-build-3a9982252">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="# "><i class="fab fa-youtube"></i> </a>
            <a href="https://www.tiktok.com/@anucara.design.and.build"><i class="fab fa-tiktok"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Anucara</li>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#aboutus">About us</a></li>
            <li><a href="#ourservice ">Our Service</a></li>
            <li><a href="#portofolio">Portofolio</a></li>
            <li><a href="menu/contact.html">Contact</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">About Us</li>
            <li><a href="menu/teamprofile.html ">Team Profile</a></li>
            <li><a href="menu/activity.html">Activity</a></li>
            <li><a href="menu/testimony.html">Testimony</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Our Service</li>
            <li><a href="menu/">Project Management</a></li>
            <li><a href="menu/">Building Construction</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Portofolio</li>
            <li><a href="menu/allportofolio.html">All Portofolio</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li class="fas fa-envelope"><a href="mailto:anucaradesignandbuild@gmail.com ">anucaradesignandbuild@gmail.com</a></li>
            <li class="fab fa-whatsapp"><a href="https://wa.me/6282126815627?&text=Hallo%20">+62 821-2681-5627</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text"
            >Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            <span> Anucara</span></span
          >
          <span class="policy_terms">
            <a href="# ">Privacy policy</a>
            <a href="# ">Terms & condition</a>
          </span>
        </div>
      </div>
    </section>
    <!-- End Footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="js/script.js"></script>
  </body>
</html>
