<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anucara</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- ===== Style CSS ===== -->
    <link rel="stylesheet" href="css/style.css">

    <!-- ===== Fontawesome ===== -->
    <script src="https://kit.fontawesome.com/6b15f87bf3.js" crossorigin="anonymous"></script>

    <!-- ===== Boxicons CSS===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== AOS ===== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <section class="pembatas">
        <!-- Header -->
        <header>
            <nav>
                <div class="navbar">
                    <img class="image" src="img/logo anucara2.png" alt="logo anucara">
                    <div class="nav-links active">
                        <ul class="links">
                            <li>
                                <a href="#home" class="is-active">Home</a>
                            </li>
                            <li>
                                <a href="#aboutus" class="boxa">About Us</a>
                                <i class='bx bx-chevron-down arrow htmlcss-arrow'></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li>
                                        <a href="menu/teamprofile.html">Team Profile</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#ourservice" class="boxa">Our Service</a>
                                <i class='bx bx-chevron-down arrow htmlcss-arrow'></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li>
                                        <a href="menu/consult.html">Consult</a>
                                    </li>
                                    <li>
                                        <a href="menu/mepcivil.html">Mep Civil</a>
                                    </li>
                                    <li>
                                        <a href="menu/steelconstruction">Steel Construction</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#portofolio" class="boxa">Portofolio</a>
                            </li>
                            <li>
                                <a href="#contact" class="boxa">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="toggle"></div>
                    <label for="menu-toggle">
                        <div class="hamburger-menu" onclick="myfunc()">
                            <!-- <span class="logo-name">Menu</span> -->
                            <div class="bar"></div>
                        </div>
                    </label>
                    <input type="checkbox" name="menu-toggle" id="menu-toggle" style="display: none;">
                </div>
            </nav>
        </header>
        <!-- End Header -->

        <section class="home" id="home">
            <div class="contentbody">
                <img src="img/img1.png" />
            </div>

        </section>

        <section class="aboutus" id="aboutus">
            <h1>ABOUT OUR COMPANY</h1>
        </section>

        <section class="portofolio">
            <div class="project"></div>
        </section>

        <div class="popupform">

        </div>

        <!-- Footer -->
        <section class="footer">
            <div class="content">
                <div class="top">
                    <div class="logo-details">
                    </div>
                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100086564315471"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/anucara.designandbuild/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.tiktok.com/@anucara.desain.and.build"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
                <div class="link-boxes">
                    <ul class="box">
                        <li class="link_name">Anucara</li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Service</a></li>
                        <li><a href="#">Portofoli</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">About Us</li>
                        <li><a href="menu/teamprofile.html">Team Profile</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">Our Service</li>
                        <li><a href="menu/consult.html">Consult</a></li>
                        <li><a href="menu/mepcivil.html">MEP Civil</a></li>
                        <li><a href="menu/steelconstruction.html">Steel Construction</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">Contact</li>
                        <li class="fas fa-envelope"><a href="mailto:anucaradesignandbuild@gmail.com">anucaradesignandbuild@gmail.com</a></li>
                        <li class="fab fa-whatsapp"><a href="https://wa.me/6282126815627">+62 821-2681-5627</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-details">
                <div class="bottom_text">
                    <span class="copyright_text">Copyright &copy; <script>document.write(new Date().getFullYear())</script><span> Anucara</span></span>
                    <span class="policy_terms">
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms & condition</a>
                    </span>
                </div>
            </div>
        </section>
    </section>
    <!-- End Footer -->

    <script src="js/script.js "></script>
    <script>
        function myfunc() {
            const menuToggle = document.querySelector('#menu-toggle').checked;
            const navLink = document.querySelector('.nav-links')
            if (menuToggle) {
                navLink.style.display = 'none'
            }else{
                navLink.style.display = 'flex'

            }
        }
        
    </script>

</body>

</html>

</html>